django>=5.0
djangorestframework
djoser
social-auth-app-django
django-cors-headers
djangorestframework-simplejwt
psycopg2-binary
pgvector
django-filter
django-import-export
python-dotenv
whitenoise[brotli]
gunicorn
dj-database-url
numpy
groq
requests
python-json-logger
pillow
pydantic
pydantic_core
regex
tqdm
safetensors
scikit-learn
scipy
Jinja2
MarkupSafe
certifi
charset-normalizer
idna
urllib3
