{% load i18n %}

{# 
  Subject block for the confirmation email.
  This will be used as the email subject line.
#}
{% block subject %}
{% blocktrans %}Teja Wellness - Your account has been successfully created and activated!{% endblocktrans %}
{% endblock %}

{# 
  Text body block for plain-text email clients.
  Informs the user their account is ready and welcomes them to Teja Wellness.
#}
{% block text_body %}
{% trans 'Congratulations! Your Teja Wellness account has been created and is ready to use.' %}

{% trans 'Thank you for joining Teja Wellness, your platform for achieving your dream job!' %}

{% blocktrans %}The Teja Wellness Team{% endblocktrans %}
{% endblock text_body %}

{# 
  HTML body block for rich email clients.
  Provides a styled confirmation message and a warm welcome.
#}
{% block html_body %}
<p>{% trans 'Congratulations! Your Teja Wellness account has been created and is ready to use.' %}</p>

<p>{% trans 'Thank you for joining Teja Wellness, your platform for achieving your dream job!' %}</p>

<p>{% blocktrans %}The Teja Wellness Team{% endblocktrans %}</p>
{% endblock html_body %}